# Analyzing Banking Trends: Data Cleaning with Python
In this project, we focus on preparing a raw banking dataset for analysis by cleaning and transforming the data using Python and pandas. You will learn how to handle missing values, identify and remove duplicates, format data types, and ensure the dataset is ready for further exploration. This step is crucial in maintaining data quality and accuracy, forming the foundation for any meaningful analysis. By the end of this project, you'll have a polished dataset ready for the next stage of analysis.

**Module 1**


Task 1: Data Import and Initial Exploration

In [ ]:
#--- Import Pandas ---

#--- Read in dataset (user_nodes.csv) ----
# ---WRITE YOUR CODE FOR TASK 1 ---
import pandas as pd

df = pd.read_csv("user_nodes.csv")
df.head(5)

#--- Inspect data ---


Task 2: Identifying Null Values

In [ ]:
# --- WRITE YOUR CODE FOR TASK 2 ---
null_values = df.isnull().sum()
null_values

Task 3: Identifying Duplicate Data

In [ ]:
# --- WRITE YOUR CODE FOR TASK 3 ---
duplicates = df.duplicated().sum()
duplicates

Task 4: Removing Duplicate Data

In [ ]:
 # --- WRITE YOUR CODE FOR TASK 4 ---
 df = df.drop_duplicates()
 df

Task 5: Data Transformation and Cleanup

In [ ]:
# --- WRITE YOUR CODE FOR TASK 5 --- ​
df = df.drop(["has_loan","is_act"],axis="columns")
df

Task 6: Renaming Columns

In [ ]:
# --- WRITE YOUR CODE FOR TASK 6 ---
df.rename(columns={ "id_": "consumer_id", "area_id_": "region_id", "node_id_": "node_id", "act_date": "start_date", "deact_date": "end_date" }, inplace=True) ​

Task 7: Importing Transaction Data

In [ ]:
#--- Import Pandas --- ​
#--- Read in dataset (user_transactions.csv) ----
# ---WRITE YOUR CODE FOR TASK 7 ---
df1 = pd.read_csv("user_transactions.csv") df1 ​
#--- Inspect data ---

Task 8: Identifying Null Values in Transaction Data

In [ ]:
# --- WRITE YOUR CODE FOR TASK 8 ---
null_value = df1.isnull().sum() null_value

Task 9: Identifying Duplicate Data in Transaction Data

In [ ]:
# --- WRITE YOUR CODE FOR TASK 9 ---
duplicate = df1.duplicated().sum()
duplicate

Task 10: Removing Duplicate Data in Transaction Data

In [ ]:
# --- WRITE YOUR CODE FOR TASK 10 ---
df1= df1.drop_duplicates()
df1

Task 11: Cleaning Transaction Data

In [ ]:
# --- WRITE YOUR CODE FOR TASK 11 --- ​
df1 = df1.drop(['has_credit_card','account_type'],axis='columns')

Task 12: Renaming Columns-Transaction Data

In [ ]:
# --- WRITE YOUR CODE FOR TASK 12 ---
df1.rename(columns={ "id_": "consumer_id", "t_date": "transaction_date", "t_type": "transaction_type", "t_amt": "transaction_amount"}, inplace=True) ​ ​